@import 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap';
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Jost, sans-serif;
  color: #000;
  background-color: rgb(252, 252, 245);
}

.nav {
  position: sticky;
  top: 0;
  padding-inline: 1rem;
  margin-top: 10px;
}
.nav__wrapper {
  display: grid;
  grid-template-columns: 2rem 1fr repeat(3, auto) 1fr auto;
  gap: 2rem;
  align-items: center;
  margin-inline: auto;
}

.logo {
  grid-column: 1;
}

.list {
  grid-column: -1;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  list-style: none;
}
.menu--pos-right {
  grid-column: 3/span 3;
}
.menu__item {
  display: grid;
  align-items: center;
  padding-inline: 1rem;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}
.menu__item:hover {
  text-decoration: underline;
}

.middle {
  display: grid;
  align-items: center;
  height: 300px;
  padding-inline: 1rem;
}
.middle__wrapper {
  display: grid;
  grid-template-columns: 12px auto 12px;
}

.side {
  display: grid;
  grid-template-rows: auto repeat(3, 12px) auto;
  gap: 5px;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: #828980;
  border-radius: 50%;
}

.main {
  display: grid;
}
.main__grid {
  display: grid;
  grid-template-columns: auto repeat(5, 100px) auto;
  gap: 100px;
}

.lottie {
  display: block;
  width: 100px;
  aspect-ratio: 500/500;
  margin-inline: auto;
}

.footer {
  padding-block: 5rem;
  padding-inline: 1.5rem;
}