@import 'https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #82898090;
  border-radius: 10px;

  &:hover {
    background-color: #828980;
  }
}

body {
  font-family: Jost, sans-serif;
  color: #000;
  background-color: rgb(252 252 245);

  // background-color: aqua;
}

.nav {
  position: sticky;
  top: 0%;
  z-index: 2;
  padding-block: 20px;
  padding-inline: 4rem;
  margin: 25px auto;
  background-color: rgb(252 252 245);

  // box-shadow: 0 8px 6px -10px rgb(0 0 0 / 30%);

  &__wrapper {
    display: grid;
    grid-template-columns: 2.5rem 1fr repeat(3, auto) 1fr;
    gap: 2rem;
    align-items: center;
    margin-inline: auto;
  }
}

.logo {
  display: grid;
  grid-column: 1;
  align-items: center;
}

.list {
  display: grid;
  grid-column: -1;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  list-style: none;

  &--pos {
    &-right {
      grid-column: 3 / span 3;
    }
  }

  &__itself {
    display: grid;
    align-items: center;
    padding-inline: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 10px;

    // &:hover {
    // }
  }

  &__item {
    display: grid;
    align-items: center;
    padding-inline: 1rem;
    font-size: 20px;
    font-weight: 400;
    color: #a79f92;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
    }
  }
}

.middle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  min-height: 80svh;
  padding-inline: 64px;
  background-color: rgb(245 245 240);

  &__box {
    display: grid;
    grid-template-rows: 70px 1fr;
  }
}

.category {
  display: grid;
  margin-block: auto;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: azure;
  text-align: center;
}

.image {
  width: 100%;

  // aspect-ratio: 1/1;
  object-fit: cover;
}
